$sideBarWidth: 15vw;

@font-face {
  font-family: 'OpenSans';
  src: url('/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root, body {
  font-size: 1vw;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', sans-serif;
}

.sidebar {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: $sideBarWidth;
  height: 100vh;
}

.page {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100vw - $sideBarWidth;
  height: 100vh;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 0px;
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}